*{
  box-sizing: border-box;
}

html, 
body{
  font-size: 18px;
  background-color: #cce5fe;
}

h1, h2{
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  margin-top: 50px;
  color: #009cdc;
}
h2{
  color:#03597b
}