*{
  box-sizing: border-box;
}

html, 
body{
  font-size: 18px;
  background-color: #cce5fe;
}

h1, h2{
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  margin-top: 50px;
  color: #009cdc;
}
h2{
  color:#03597b
}
.contenedor-div-formulario{
  text-align: center;
  margin: 100px auto;
}
.contenedro-form{
  width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: normal;
  background-color: #009cdc;
  padding: 30px;
  border-radius: 20px;
  color: white;
}