
.input_titulo{
    margin-bottom: 30px;
    border-radius: 4px;
    padding: 5px;
  }
  .botonCambiarTarea{
    padding: 10px;
    border-radius: 4px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
    width: 155px;
    background-color: #593196;
    color: white;
  }
  .descrip_tarea{
    border-radius: 4px;
    padding: 7px;
  }
  .titulo_tarea{
    font-size: 28px;
    font-weight: 400;
  }
  .contenedor-botones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }